.weekList {
    list-style-type: none;
    padding: 0;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: var(--secondary-border-radius);
    background-color: var(--bg-color--card);
}
